* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Noto Sans", sans-serif;
}



.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.spacebetween {
    justify-content: space-between;
}

.aligncenter {
    align-items: center;
}


/* Header */


header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px 20px;
    margin-top: 20px;
    border-bottom: black solid 1px;
  }
  
  nav { width: 60%; }
  
  .navheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  .logo { width: 150px; }
  
  .white {
    color: #000;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    margin-right: 40px;
  }


  /* fin header */

  .btn {
    background-color: #ffffff;
    color: #FD8D5D;
    padding: 15px 35px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 300px;
    font-family: "Inter", sans-serif;
    transition: 0.6s ease;
    border: #FD8D5D solid 1px;
    font-weight: 500;
  }

  h1{
    font-size: 30px;
    color: #FD8D5D;
    margin: 50px 500px;
  }

  .section1 {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    border: #00000030 solid 1px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
}

.div1 {
  width: 350px ;
  min-width: 250px; 
  margin-bottom: 20px;
}

  .img1{
    display: flex;
    width: 300px;
    border-radius: 10px 10px 0 0;
  }

  .img2{
    width: 85px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .img3{
    width: 85px;
    margin-left: px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .div2{
    width: 400px;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 20px;
  }

  .div3{
    width: 300px;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-bottom: 20px;
   background-color: #FD8D5D;
  }

  .p1{
    margin-left: 10px;
    padding-top: 20px;
    color: white;
    font-size: 20px;
  }

  .p2{
    margin-left: 10px;
    margin-top: 10px;
    color: #FD8D5D;
    font-size: 18px;
  }

  .div4{
    margin: 10px 10px 10px 0px;
  }

  .img4{
    width: 20px;
  }

  .h33{
    margin-bottom: 10px;
    color: #FD8D5D;
    font-size: 20px;
  }

 

  .li1{
    margin-top: 10px;
    font-size: 13px;
  }

  .f13{
    font-size: 13px;
  }

  .flex1 {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* Pour que ça passe en ligne si l'espace manque */
  }

  .div6{
    width: 500px ;
    min-width: 250px; 
    margin-bottom: 20px;
  }

  .hjk{
    padding-right: 30px;
  }

  .divv{
    margin-bottom: 30px;
  }

.mo10{
  margin-right: 20px;
  color: #FD8D5D;
}

.ico{
  width: 20px;
}


footer{
  padding: 100px;
  background-color: #FD8D5D;
  margin-top: 100px;
  color: #ffffff;
}

.pol{
  margin-top: 40px;
  margin-right: 300px;
}

.li9{
  margin-top: 20px;
  color: white;
  text-decoration: none;
}

.wit{
  color: white;
}


.li8{
  margin-top: 20px;
  color: white;
  text-decoration: none;
}

.imgg{
  width: 300px;
}

.gh{
  color: #FD8D5D;
}

.div5{
  width: 300px;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-bottom: 20px;
}